<div class="modal-header FormStyle">
<form name="myForm" novalidate required>
<p>Email:<br>
<input type="email" name="email" ng-model="email" required>
</span>
</p>
<p>Password<br>
<input type="password" name="password" ng-model="password" required>
</p>

<button class="btn btn-primary" type="button"  ng-click="LoginUser()">login</button>

<div id="loginmsg" style="color:Black"></div>
<div ng-show= "a" > </br>
 
    <button type="button" class="btn btn-default BtnStyle"  ui-sref="dashboard"> User</button>
    <button type="button" class="btn btn-default BtnStyle"  ui-sref="dashboard"> Admin</button>


</div>
 
</form>
</div>


