<div class="py-5 text-center"> 
<div uib-collapse="isCollapsed">
  <!-- class="well well-lg" -->
  <div class="container-fluid" >
  <div class="row">
    <div class="mx-auto col-lg-6 col-6"> 
    <form class="text-left" >

      <div class="form-group"> <label>Name</label> 
        <input type="text" class="form-control"  ng-model = "name" >
      </div>

      <div class="form-group"> <label>Class</label> 
        <input type="text" class="form-control"   ng-model = "class" >
      </div>

      <div class="form-group"> <label>Subject 1 Marks</label> 
        <input type="text" class="form-control"   ng-model = "sub1" >
      </div>

      <div class="form-group"> <label>Subject 2 Marks</label> 
        <input type="text" class="form-control"   ng-model = "sub2" >
      </div>

      <div class="form-group"> <label>School Name</label> 
        <input type="text" class="form-control"   ng-model = "schoolName" >
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary" ng-click = "AddStudent()" value="Save Data">Create User</button>
      </div>

    </form>
  </div>

</div>
</div>
