<div ng-show= "a"  > </br>
 <ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link" ui-sref="addstudents">Student Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="viewstudents">List of Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="addschools" >School form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ui-sref="viewschools">List of Schools</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="analytics" >Aggregation</a>
  </li>
  <!-- <li class="nav-item">
        <a class="nav-link" ui-sref="bulk" >Bulk</a>
  </li>
   -->
</ul>
<ui-view></ui-view>
</div>


















        <!-- <div ng-show= "a" style="color:yellow" > </br>
                <button type="button" class="btn btn-default BtnStyle" ng-click="logout()">logout</button>   </br> </br> </br> 
                <div uib-collapse="isCollapsed">
                <div class="well well-lg">
                        <button type="button" class="btn btn-default BtnStyle" ui-sref="viewschools">View Schools</button>
                        <button type="button" class="btn btn-default BtnStyle" ui-sref="addschools" >Add Schools</button>
                        <button type="button" class="btn btn-default BtnStyle" ui-sref="viewstudents">View Students</button>
                        <button type="button" class="btn btn-default BtnStyle" ui-sref="addstudents">Add Students</button>
                        <button type="button" class="btn btn-default BtnStyle" ui-sref="analytics" >Analytics</button>

                        
                        <button type="button" class="btn btn-default BtnStyle" ui-sref="chatdata">Chat</button>  
              </div>
        </div>

        </div>

        <div ng-show= "!a" style="color:black; font-size:24px ;" > 
               User not logged in, Please Login first </br>
        </div>  -->

        
        



<!-- <div ng-show= "a"  > </br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" >Welcome to Student Portal</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" ui-sref="viewschools">View Schools</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="addschools" >Add Schools</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="viewstudents">View Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="addstudents">Add Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="analytics" >Analytics</a>
              </li>
            </ul>
        </div>
      </nav>
      <ui-view></ui-view>

        <div ng-show= "!a" style="color:yellow; font-size:24px ;" > 
               User not logged in, Please Login first </br>
        </div>
</div> -->
